doctype html
html(lang="en")
    head
        title = title
    body
        h1 CRUD API
        block content
            h2 message
            p You can Create
            p You can Read
            p You can Update
            p You can Delete

        block content
        h2 New message
            Thank you for having me